.cLient_draft {
   border: #f4f4f4 solid 2px;
   border-radius: 10px;

}

.client_job_post_container{
    border-bottom: solid 1px #9a9a9a;
    padding:30px;
  
}

.cLient_post{
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 7px;   
}

.green{
    color: #9CCF31
}

.box-shadow{
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 7px; 
}

.star{
    width:80%
}

.Mediumcontainer{
    width:1100px;
    margin: 0 auto;
}



/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    .Mediumcontainer{
        width:300px;
        margin: 0 auto;
    }
    
  }