h1,h2,h3,h4{
  font-family: 'Playfair Display', serif;
}

h3{
font-size:30px;
}

h4{
  font-size:26px;
  }


.logoStyle{
  max-width: 180px;
}









.googleIcon{
  width:34px;
  padding-left:10px;
  position: relative;
  right:-20px;
  top:-6px;
  
}

  .logo{
    width: 150px;
  }

  .formTerms{
    position: relative;
    left:-40px
  }

  .headerBar {
    opacity: rgba(0, 0, 0, 0.84)!important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    padding-top: 0px;
}


  .indexBg{
    background-color: #9CCF31;
    height: 95vh;
  }

  .mainNavBar{
    background-color: ;
    padding-top: 20px;
    padding-bottom: 20px;
    
  }

  .uk-navbar-container:not(.uk-navbar-transparent) {
    background: transparent;
  }

  .sliderImg{
    height: 560px;
  }

  .indexTopPad{
    padding-top: 90px;
  }

  .indexTopPad h1{
    color: #fff
  }

  .italic{
    font-style: italic;
    font-weight: 400;
  }
  .searchForm{
    background-color: #d2d2d4;
    border-radius: 5px;
  }


body{
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border-right: none;
  padding: 5px;
  height: 38px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #ff9e01;
}

.searchButton {
  width: 40px;
  height: 50px;
  border: 1px solid #ff9e01;
  background: #ff9e01;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.indexIcon{
  width:80px
}

.iconContainer{
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding:30px;
}

.light{
  color:#fff
}

/*Resize the wrap to see the search bar change!*/
